{% load static %}

<table class="table table-striped" id="sortable1">
	<thead style="position: sticky; top: 0; z-index: 1; background: white;">
		<tr>
			<th style="width: 50%; text-align: center;">Lead Pair <i hidden id="arrow10" class="fa-solid fa-sort"></th>
			<th onclick="sortTable(1,'1')" style="width: 25%; text-align: center;">Winrate <i id="arrow11" class="fa-solid fa-sort-down"></th>
			<th onclick="sortTable(2,'1')" style="width: 25%; text-align: center;">Appearance Rate <i id="arrow12" class="fa-solid fa-sort"></th>
		</tr>
	</thead>
	<tbody>
		{% for l in leads %}
		{% with l.pokemon.img_number|slugify as img_num_1 %}
		{% with "sprites/pokemon/"|add:img_num_1|add:".png" as img_file_1 %}
		{% with l.teammate.img_number|slugify as img_num_2 %}
		{% with "sprites/pokemon/"|add:img_num_2|add:".png" as img_file_2 %}
		<tr>
			<td class="align-middle">
				<img src="{% static img_file_1 %}" style="height: 70px;"> {{ l.pokemon.pokemon_display_name }} <img src="{% static img_file_2 %}" style="height: 70px;"> {{ l.teammate.pokemon_display_name }}
			</td>
			<td class="align-middle" style="text-align: center;">
				{{ l.winrate_lead }}
			</td>
			<td class="align-middle" style="text-align: center;">
				{{ l.appearance_rate_lead }}
			</td>
		</tr>
		{% endwith %}
		{% endwith %}
		{% endwith %}
		{% endwith %}
		{% endfor %}
	</tbody>
</table>