{% load static %}

<table class="table table-striped">
	<thead style="position: sticky; top: 0; z-index: 1; background: white;">
		<tr>
			<th style="width: 50%; text-align: center;"><a href="#">Lead Pair</a></th>
			<th style="width: 25%; text-align: center;"><a href="#">Winrate</a></th>
			<th style="width: 25%; text-align: center;"><a href="#">Appearance Rate</a></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>
				stuff
			</td>
			<td style="text-align: center;">
				stuff
			</td>
			<td style="text-align: center;">
				stuff
			</td>
		</tr>
	</tbody>
</table>