{% extends 'base.html' %}

{% block content %}


<div class="wrapper">
	{% include 'common_pokemon_sidebar.html' %}
	<div class="container" style="width: calc(100%-300px);">
	    <button type="button" id="sidebarCollapse" class="btn btn-info">
	        <i class="fas fa-align-left"></i>
	        <span>Toggle Sidebar</span>
	    </button>
		<div class="row justify-content-center" style="padding-bottom: 50px;">
			<a href="{% url 'format_base' tier.generation tier.tier_name %}">
				<h1>[Gen {{ tier.generation }}] {{ tier.tier_display_name }}</h1>
			</a>
		</div>
		<div class="row justify-content-center" style="padding-bottom: 50px;">
			{% include 'pokemon.html' %}
		</div>
		<div class="row justify-content-center" style="margin-bottom: 50px;">
			<div class="col-xs" style="margin-right: 20px;">
				<div class="row justify-content-end">
					<strong>Appearance Rate: </strong>						
				</div>
				<div class="row justify-content-end">
					<strong>Winrate: </strong>
				</div>
				<div class="row justify-content-end">
					<strong>Used Winrate: </strong>
				</div>
				<div class="row justify-content-end">
					<strong>Lead Winrate: </strong>
				</div>
			</div>
			<div class="col-xs" style="margin-left: 20px;">
				<div class="row justify-content-start">
					{{ individual.appearance_rate|floatformat:2 }}%						
				</div>
				<div class="row justify-content-start">
					{{ individual.winrate|floatformat:2 }}%						
				</div>
				<div class="row justify-content-start">
					{{ individual.winrate_used|floatformat:2 }}%						
				</div>
				<div class="row justify-content-start">
					{{ individual.winrate_lead|floatformat:2 }}%						
				</div>
			</div>
		</div>
		<div class="row justify-content-center" style="padding-bottom: 50px;">
			<h3>Winrate With</h3>
			<div class="table-responsive" style="margin-left: 15px; margin-right: 15px;">
				{% include 'pokemon_teammate_table.html' %}
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<h3 style="text-align: center;">Winrate Against</h3>
				<div class="table-responsive">
					{% include 'pokemon_opponent_table.html' %}
				</div>		
			</div>
			<div class="col-lg-6">
				<h3 style="text-align: center;">Move Winrates</h3>
				<div class="table-responsive">
					{% include 'pokemon_move_table.html' %}
				</div>
			</div>
		</div>
		{% if tier.has_tera %}
		<div class="row justify-content-center" style="padding-bottom: 50px;">
			<div class="col-lg-6">
				<h3 style="text-align: center;">Tera Type Winrates</h3>
				<div class="table-responsive">
					{% include 'pokemon_tera_types_table.html' %}
				</div>
			</div>	
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}