{% load static %}

<table class="table table-striped" id="sortable">
	<thead style="position: sticky; top: 0; z-index: 1; background: white;">
		<tr>
			<th onclick="sortTable(0,'')" style="width: 50%; text-align: center;">Pokemon <i id="arrow0" class="fa-solid fa-sort"></i></th>
			<th onclick="sortTable(1,'')" style="width: 25%; text-align: center;">Winrate <i id="arrow1" class="fa-solid fa-sort-up"></i></th>
			<th onclick="sortTable(2,'')" style="width: 25%; text-align: center;">Appearance Rate <i id="arrow2" class="fa-solid fa-sort"></i></th>
		</tr>
	</thead>
	<tbody>
		{% for w in winrates %}
		{% with w.pokemon.img_number|slugify as img_num %}
		{% with "sprites/pokemon/"|add:img_num|add:".png" as img_file %}
		<tr>
			<td class="align-middle">
				<a href="{% url 'format_pokemon' tier.generation tier.tier_name w.pokemon.pokemon_unique_name %}">
					<img src="{% static img_file %}" style="height: 70px;">
					{{ w.pokemon.pokemon_display_name }}
					{% with w.pokemon.types_of_pokemon.all as type %}
					{% include 'pokemon_type_block.html' %}
					{% endwith %}
				</a>
			</td>
			<td class="align-middle" style="text-align: center;">
				{% if w.winrate < 10%}
				0{{ w.winrate|floatformat:2 }}%
				{% else %}
				{{ w.winrate|floatformat:2 }}%
				{% endif %}
			</td>
			<td class="align-middle" style="text-align: center;">
				{% if w.appearance_rate < 10 %}
				0{{ w.appearance_rate|floatformat:2 }}%
				{% else %}
				{{ w.appearance_rate|floatformat:2 }}%
				{% endif %}
			</td>
		</tr>
		{% endwith %}
		{% endwith %}
		{% endfor%}
	</tbody>
</table>