{% extends 'base.html' %}

{% block content %}

<div class="wrapper">
	{% include 'formats_sidebar.html' %}
	<div class="container" style="width: calc(100%-300px);">
	    <button type="button" id="sidebarCollapse" class="btn btn-info">
	        <i class="fas fa-align-left"></i>
	        <span>Toggle Sidebar</span>
	    </button>
		<div class="row justify-content-center">
			<h1>[Gen {{ tier.generation}}] {{ tier.tier_display_name }}</h1>
		</div>
		<div class="row justify-content-center" style="padding-top: 20px; padding-bottom: 20px;">
			<div>
				<h3>Common Pok&eacute;mon Winrates</h3>
			</div>
			<div id="baseTable" style="width: 100%; height: 100%;">
				<div style="padding-bottom: 10px;" class="row justify-content-center">
					<button style="width: 125px;" class="btn btn-primary" id="formatTableSwitch1">Detailed View</button>					
				</div>
				<div class="table-responsive">
					{% include 'format_base_table.html' %}
				</div>
			</div>
			<div id="detailTable" class="collapse" style="width: 100%; height: 100%">
				<div style="padding-bottom: 10px;" class="row justify-content-center">
					<button style="width: 125px;" class="btn btn-primary" id="formatTableSwitch2">Base View</button>
				</div>
				<div class="table-responsive">
					{% include 'format_base_table_detailed.html' %}
				</div>
			</div>
		</div>
		<div class="row justify-content-center" style="padding-bottom: 20px;">
			<h3>Common Leads</h3>
			<div class="table-responsive">
				{% include 'common_leads_table.html' %}
			</div>
		</div>
		<!-- <div class="row justify-content-center" style="padding-top: 20px;">
			<h3>Speed Tiers</h3>
			<div class="table-responsive">
				{% include 'speed_tier_table.html' %}
			</div>
		</div> -->
	</div>
</div>
{% endblock %}