{% extends 'base.html' %}

{% block content %}


<div class="wrapper">
	{% include 'common_pokemon_sidebar.html' %}
	<div class="container" style="width: calc(100%-300px);">
	    <button type="button" id="sidebarCollapse" class="btn btn-info">
	        <i class="fas fa-align-left"></i>
	        <span>Toggle Sidebar</span>
	    </button>
		<div class="row justify-content-center" style="padding-bottom: 50px;">
			<a href="{% url 'format_base' tier.generation tier.tier_name %}">
				<h1>[Gen {{ tier.generation }}] {{ tier.tier_display_name }}</h1>
			</a>
		</div>
		<div class="row justify-content-center" style="padding-bottom: 50px;">
			{% include 'pokemon.html' %}
		</div>
		<div class="container" style="padding-bottom: 50px;">
			<div class="row justify-content-center">
				<strong>Appearance Rate: </strong><span style="width: 5px;"></span>{{ individual.appearance_rate|floatformat:2 }}%
			</div>
			<div class="row justify-content-center">
				<strong>Winrate: </strong><span style="width: 5px;"></span> {{ individual.winrate|floatformat:2 }}%
			</div>
			<div class="row justify-content-center">
				<strong>Used Winrate: </strong><span style="width: 5px;"></span> {{ individual.winrate_used|floatformat:2 }}%
			</div>
			<div class="row justify-content-center">
				<strong>Lead Winrate: </strong><span style="width: 5px;"></span> {{ individual.winrate_lead|floatformat:2 }}%
			</div>
			{% if tier.has_tera %}
			<div class="row justify-content-center">
				<strong>Tera Frequency: </strong><span style="width: 5px;"></span> {{ individual.tera_frequency|floatformat:2 }}%
			</div>
			{% endif %}
		</div>
		<div class="row justify-content-center" style="padding-bottom: 50px;">
			<h3>Teammate Winrates</h3>
			<div class="table-responsive">
				{% include 'pokemon_teammate_table.html' %}
			</div>
		</div>
		<div class="row justify-content-center" style="padding-bottom: 50px;">
			<div class="col-6">
				<h3 style="text-align: center;">Opponent Winrates</h3>
				<div class="table-responsive">
					{% include 'pokemon_opponent_table.html' %}
				</div>		
			</div>
			<div class="col-6">
				<h3 style="text-align: center;">Move Winrates</h3>
				<div class="table-responsive">
					{% include 'pokemon_move_table.html' %}
				</div>
			</div>
		</div>
		{% if tier.has_tera %}
		<div class="row justify-content-center" style="padding-bottom: 50px;">
			<h3>Tera Type Winrates</h3>
			<div class="table-responsive">
				{% include 'pokemon_tera_types_table.html' %}
			</div>		
		</div>
		{% endif %}
	</div>
</div>
{% endblock %}