{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row justify-content-center" style="padding-top: 30px;">
		<h1>GAME FORMATS</h1>
	</div>
	{% for g in gens %}
	<div class="row justify-content-center" style="padding-top: 30px;">
		<h2>Gen {{g.generation}}</h2>
	</div>
	<div class="row justify-content-center">
		<div class="col-lg-4">
			<div class="row justify-content-center">
				<div class="container">
					<div class="row justify-content-center">
						<h4>VGC</h4>
					</div>
					<div class="container" style="width: fit-content;">
						{% for t in tiers %}
						{% if t.games_of_format.count > 1000 and t.generation == g.generation and t.style == 'VGC' and t.valid == True %}
						<div class="row justify-content-start">	
							<a href="{% url 'format_base' t.generation t.tier_name %}">{{t.tier_display_name}} </a>
							 : {{ t.games_of_format.count }} Games
						</div>
						{% endif %}
						{% endfor %}						
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="row justify-content-center">
				<div class="container">
					<div class="row justify-content-center">
						<h4>Smogon Singles</h4>
					</div>
					<div class="container" style="width: fit-content;">
						{% for t in tiers %}
						{% if t.games_of_format.count > 1000 and t.generation == g.generation and t.style == 'SS' and t.valid == True %}
						<div class="row justify-content-start">	
							<a href="{% url 'format_base' t.generation t.tier_name %}">{{t.tier_display_name}} </a>
							 : {{ t.games_of_format.count }} Games
						</div>
						{% endif %}
						{% endfor %}						
					</div>
				</div>
			</div>		
		</div>
		<div class="col-lg-4">
			<div class="row justify-content-center">
				<div class="container">
					<div class="row justify-content-center">
						<h4>Smogon Doubles</h4>						
					</div>
					<div class="container" style="width: fit-content;">
						{% for t in tiers %}
						{% if t.games_of_format.count > 1000 and t.generation == g.generation and t.style == 'SD' and t.valid == True %}
						<div class="row justify-content-start">	
							<a href="{% url 'format_base' t.generation t.tier_name %}">{{t.tier_display_name}} </a>
							 : {{ t.games_of_format.count }} Games
						</div>
						{% endif %}
						{% endfor %}						
					</div>	
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock content %}