{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
	Core Breakdown
	<div>
		{% for r in raw %}
		{% with r.img_number|slugify as img_num %}
		{% with "sprites/pokemon/"|add:img_num|add:".png" as img_file %}
		<img src="{% static img_file %}" style="max-height: 70px;">
		{% endwith %}
		{% endwith %}
		{% endfor %}	
	</div>
	{% for r in raw %}
	{% with r.img_number|slugify as img_num %}
	{% with "sprites/pokemon/"|add:img_num|add:".png" as img_file %}
	<div class="container">
		<div class="align-middle">
			{{ r.pokemon_display_name }}
			<img src="{% static img_file %}" style="max-height: 70px;">
		</div>
		<div>
			Used Rate: {{ r.used_rate|stringformat:"05.2F" }}%
		</div>
		<div>
			Used Winrate: {{ r.winrate_used|stringformat:"05.2F" }}%
		</div>
		<div>
			Lead Rate: {{ r.lead_rate|stringformat:"05.2F" }}%
		</div>
		<div>
			Lead Winrate: {{ r.winrate_lead|stringformat:"05.2F" }}%
		</div>
		<div>
			Tera Frequency: {{ r.tera_frequency|stringformat:"05.2F" }}%
		</div>
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th>
							Move
						</th>
						<th>
							Move Frequency
						</th>
						<th>
							Winrate
						</th>
					</tr>
				</thead>
				<tbody>
					{% for m in moves %}
					{% if m.pokemon_id == r.id %}
					<tr>
						<td>
							{{ m.move_display_name }}
						</td>
						<td>
							{{ m.move_frequency }}%
						</td>
						<td>
							{{ m.winrate }}%
						</td>
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="table-responsive">
			<table>
				<thead>
					<tr>
						<th>
							Opponent
						</th>
						<th>
							Used Winrate
						</th>
					</tr>
				</thead>
				<tbody>
					{% for o in opponents %}
					{% if o.cur_mon == r.id %}
					<tr>
						<td>
							{{ o.pokemon_display_name }}
						</td>
						<td>
							{{ o.winrate_used }}
						</td>
					</tr>
					{% endif %}
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% endwith %}
	{% endwith %}
	{% endfor %}
	<div class="table-responsive">
		<table>
			<thead>
				<tr>
					<th>
						Core
					</th>
					<th>
						Count
					</th>
					<th>
						Winrate
					</th>
				</tr>
			</thead>
			<tbody>
				{% for m in matchups %}
				<tr>
					<td>
						{% for mon in m.pokemon_of_team_or_core.all %}
						{% with mon.pokemon.img_number|slugify as img_num %}
						{% with "sprites/pokemon/"|add:img_num|add:".png" as img_file %}
						<img src="{% static img_file %}" style="max-height: 70px;">
						{{ mon.pokemon.pokemon_display_name }}
						{% endwith %}
						{% endwith %}
						{% endfor %}
					</td>
					<td>
						{{ m.count }}
					</td>
					<td>
						{{ m.winrate }}%
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="table-responsive">
		<table>
			<thead>
				<tr>
					<th>
						Mon
					</th>
					<th>
						Winrate
					</th>
				</tr>
			</thead>
			<tbody>
				{% for t in teammates %}
				<tr>
					<td>
						{{ t.pokemon_display_name }}
					</td>
					<td>
						{{ t.winrate }}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}