<table class="table">
	<thead>
		<tr>
			<th style="width: 50%;">Tera Type</th>
			<th style="width: 25%; text-align: center;">Winrate</th>
			<th style="width: 25%; text-align: center;">Type Frequency</th>
		</tr>
	</thead>
	<tbody>
		{% for t in tera_types %}
		<tr>
			<td class="align-middle">
				<div class="type-bubble" style="background: {{ t.type_color }}">
					{{ t.type_name }}
				</div>
			</td>
			<td class="align-middle" style="text-align: center;">{{ t.winrate|floatformat:2 }}%</td>
			<td class="align-middle" style="text-align: center;">{{ t.tera_frequency|floatformat:2 }}%</td>
		</tr>
		{% endfor %}
	</tbody>
</table>