{% load static %}

<table class="table table-striped" id="sortable2">
	<thead style="position: sticky; top: 0; z-index: 1; background: white;">
		<tr>
			<th onclick="sortTable(0,'2')" style="width: 50%; text-align: center;">Move <i id="arrow20" class="fa-solid fa-sort"></i></th>
			<th onclick="sortTable(1,'2')" style="width: 25%; text-align: center;">Winrate <i id="arrow21" class="fa-solid fa-sort-down"></i></th>
			<th onclick="sortTable(2,'2')" style="width: 25%; text-align: center;">Move Frequency <i id="arrow22" class="fa-solid fa-sort"></i></th>
		</tr>
	</thead>
	<tbody>
		{% for m in moves %}
		<tr>
			<td class="align-middle">
				<div class="row" style="padding-left: 20px;">
					{{ m.move.move_display_name }} 
					<div class="type-bubble" style="background: {{ m.move.move_type.type_color }}; margin-left: 10px;">
						{{ m.move.move_type.type_name }}
					</div>	
				</div>
			</td>
			<td class="align-middle" style="text-align: center;">
				{{ m.winrate|floatformat:2 }}%
			</td>
			<td class="align-middle" style="text-align: center;">
				{% if m.move_frequency < 10 %}
				0{{ m.move_frequency|floatformat:2 }}%
				{% else %}
				{{ m.move_frequency|floatformat:2 }}%
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>