{% load static %}

<table class="table table-striped w-auto" id="sortable3">
	<thead style="position: sticky; top: 0; z-index: 1; background: white;">
		<tr>
			<th class="column-one" style="text-align: center; background: white;">Pokemon <i id="arrow30" class="fa-solid fa-sort arrow"></i></th>
			<th style="text-align: center;">Winrate <i id="arrow31" class="fa-solid fa-sort-down arrow"></i></th>
			<th style="text-align: center;">
				<i id="move-frequency-help" class="fa-solid fa-circle-question" data-toggle="tooltip" title data-original-title="How often the corresponding Pokémon appears on teams that {{ pokemon.pokemon_display_name }} is on"></i> Pairing Frequency <i id="arrow32" class="fa-solid fa-sort arrow"></i></th>
			<th style="text-align: center;">Used Rate <i id="arrow33" class="fa-solid fa-sort arrow"></i></th>
			<th style="text-align: center;">Used Winrate <i id="arrow34" class="fa-solid fa-sort arrow"></i></th>
			<th style="text-align: center;">Lead Rate <i id="arrow35" class="fa-solid fa-sort arrow"></i></th>
			<th style="text-align: center;">Lead Winrate <i id="arrow36" class="fa-solid fa-sort arrow"></i></th>
			<th style="text-align: center;">Appearance Rate <i id="arrow37" class="fa-solid fa-sort arrow"></i></th>
			<th style="text-align: center;">Lead Appearance Rate <i id="arrow38" class="fa-solid fa-sort arrow"></i></th>
		</tr>
	</thead>
	<tbody>
		{% for t in teammates %}
		{% with t.teammate.img_number|slugify as img_num %}
		{% with "sprites/pokemon/"|add:img_num|add:".png" as img_file %}
		{% if t.teammate.id != pokemon.id %}
		<tr>
			<td class="column-one align-middle">
				<span style="white-space: nowrap; display: inline-block;">
					{% if t.teammate in common_pokemon %}
					<a href="{% url 'format_pokemon' tier.generation tier.tier_name t.teammate.pokemon_unique_name %}">
						<img src="{% static img_file %}" style="height: 70px;">{{ t.teammate.pokemon_display_name }}</a>
						{% with t.teammate.types_of_pokemon.all as type %}
						{% include 'pokemon_type_block.html' %}
						{% endwith %}
					{% else %}
						<img src="{% static img_file %}" style="height: 70px;">
						{{ t.teammate.pokemon_display_name }}
						{% with t.teammate.types_of_pokemon.all as type %}
						{% include 'pokemon_type_block.html' %}
						{% endwith %}
					{% endif %}
				</span>
			</td>
			<td class="align-middle" style="text-align: center;">
				{{ t.winrate|stringformat:"05.2F" }}%
			</td>
			<td class="align-middle" style="text-align: center;">
				{{ t.pairing_frequency|stringformat:"05.2F" }}%
			</td>
			<td class="align-middle" style="text-align: center;">
				{{ t.used_rate|stringformat:"05.2F" }}%
			</td>
			<td class="align-middle" style="text-align: center;">
				{{ t.winrate_used|stringformat:"05.2F" }}%
			</td>
			<td class="align-middle" style="text-align: center;">
				{{ t.lead_rate|stringformat:"05.2F" }}%
			</td>
			<td class="align-middle" style="text-align: center;">
				{{ t.winrate_lead|stringformat:"05.2F" }}%
			</td>
			<td class="align-middle" style="text-align: center;">
				{{ t.appearance_rate|stringformat:"05.2F" }}%
			</td>
			<td class="align-middle" style="text-align: center;">
				{{ t.appearance_rate_lead|stringformat:"05.2F" }}%
			</td>
		</tr>
		{% endif %}
		{% endwith %}
		{% endwith %}
		{% endfor %}
	</tbody>
</table>