<table class="table">
	<thead>
		<tr>
			<th style="width: 50%; cursor: auto;">Tera Type</th>
			<th style="width: 25%; text-align: center; cursor: auto;">Winrate</th>
			<th style="width: 25%; text-align: center; cursor: auto;">
				<i id="move-frequency-help" class="fa-solid fa-circle-question" data-toggle="tooltip" title data-original-title="How often {{ pokemon.pokemon_display_name }} has this type in games where it terrastalizes"></i> 
				Type Frequency</th>
		</tr>
	</thead>
	<tbody>
		{% for t in tera_types %}
		<tr>
			<td class="align-middle">
				<div class="type-bubble" style="background: {{ t.tera_type.type_color }}">
					{{ t.tera_type.type_name }}
				</div>
			</td>
			<td class="align-middle" style="text-align: center;">{{ t.winrate|floatformat:2 }}%</td>
			<td class="align-middle" style="text-align: center;">{{ t.type_frequency|floatformat:2 }}%</td>
		</tr>
		{% endfor %}
	</tbody>
</table>