{% load static %}

<table class="table table-striped w-auto" id="sortable">
	<thead style="position: sticky; top: 0; z-index: 1; background: white;">
		<tr>
			<th onclick="sortTable(0,'')" style="text-align: center;">Pokemon <i id="arrow0" class="fa-solid fa-sort"></i></th>
			<th onclick="sortTable(1,'')" style="text-align: center;">Winrate <i id="arrow1" class="fa-solid fa-sort-down"></i></th>
			<th onclick="sortTable(2,'')" style="text-align: center;">
				<i id="move-frequency-help" class="fa-solid fa-circle-question" data-toggle="tooltip" title data-original-title="How often the corresponding Pokémon appears on teams that {{ pokemon.pokemon_display_name }} is on"></i> Pairing Frequency <i id="arrow2" class="fa-solid fa-sort"></i></th>
		</tr>
	</thead>
	<tbody>
		{% for t in teammates %}
		{% with t.teammate.img_number|slugify as img_num %}
		{% with "sprites/pokemon/"|add:img_num|add:".png" as img_file %}
		{% if t.teammate.id != pokemon.id %}
		<tr>
			<td class="align-middle">
				<span style="white-space: nowrap; display: inline-block;">
					{% if t.teammate in common_pokemon %}
					<a href="{% url 'format_pokemon' tier.generation tier.tier_name t.teammate.pokemon_unique_name %}">
						<img src="{% static img_file %}" style="height: 70px;">{{ t.teammate.pokemon_display_name }}</a>
						{% with t.teammate.types_of_pokemon.all as type %}
						{% include 'pokemon_type_block.html' %}
						{% endwith %}
					{% else %}
						<img src="{% static img_file %}" style="height: 70px;">
						{{ t.teammate.pokemon_display_name }}
						{% with t.teammate.types_of_pokemon.all as type %}
						{% include 'pokemon_type_block.html' %}
						{% endwith %}
					{% endif %}
				</span>
			</td>
			<td class="align-middle" style="text-align: center;">
				{{ t.winrate|floatformat:2 }}%
			</td>
			<td class="align-middle" style="text-align: center;">
				{% if t.pairing_frequency < 10 %}
				0{{ t.pairing_frequency|floatformat:2 }}%
				{% else %}
				{{ t.pairing_frequency|floatformat:2 }}%
				{% endif %}
			</td>
		</tr>
		{% endif %}
		{% endwith %}
		{% endwith %}
		{% endfor %}
	</tbody>
</table>