{% load static %}

<table class="table table-striped w-auto" id="sortable2">
	<thead style="position: sticky; top: 0; z-index: 1; background: white;">
		<tr>
			<th onclick="sortTable(0,'2')" style="text-align: center;">Move <i id="arrow20" class="fa-solid fa-sort"></i></th>
			<th onclick="sortTable(1,'2',true)" style="text-align: center;">Winrate <i id="arrow21" class="fa-solid fa-sort-down"></i></th>
			<th onclick="sortTable(2,'2',true)" style="text-align: center;">
				<!-- <i id="move-frequency-help" class="fa-solid fa-circle-question"></i>  -->
				<!-- <i id="move-frequency-help" class="fa-solid fa-circle-question" data-toggle="tooltip" title data-original-title="How often this move is used by {{ pokemon.pokemon_display_name }} at least once in games where {{ pokemon.pokemon_display_name }} is used"></i>  -->
				<div class="tooltipnew"><i id="move-frequency-help" class="fa-solid fa-circle-question"></i><span class="tooltiptext">How often this move is used by {{ pokemon.pokemon_display_name }} at least once in games where {{ pokemon.pokemon_display_name }} is used</span></div>
				Move Frequency
				<i id="arrow22" class="fa-solid fa-sort"></i></th>
		</tr>
	</thead>
	<tbody>
		{% for m in moves %}
		<tr>
			<td class="align-middle">
				<div class="row" style="padding-left: 20px;">
					{{ m.move.move_display_name }} 
					<div class="type-bubble" style="background: {{ m.move.move_type.type_color }}; margin-left: 10px;">
						{{ m.move.move_type.type_name }}
					</div>	
				</div>
			</td>
			<td class="align-middle" style="text-align: center;">
				{{ m.winrate|stringformat:"05.2F" }}%
			</td>
			<td class="align-middle" style="text-align: center;">
				{{ m.move_frequency|stringformat:"05.2F" }}%
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>