{% load static %}

<table class="table table-striped w-auto" id="sortable1">
	<thead style="position: sticky; top: 0; z-index: 1; background: white;">
		<tr>
			<th style="text-align: center;">Pokemon <i id="arrow10" class="fa-solid fa-sort arrow"></i></th>
			<th style="text-align: center;">
				<span class="tooltipwrapper">
					<div class="tooltipnew">
						<i id="winrate-help" class="fa-solid fa-circle-question"></i>
					</div>
					<span class="tooltiptext">
						{{ pokemon.pokemon_display_name }}'s winrate when it is used against the corresponding Pok&eacute;mon
					</span>
				</span>
				Used Winrate <i id="arrow11" class="fa-solid fa-sort-down arrow"></i></th>
		</tr>
	</thead>
	<tbody>
		{% for o in opponents %}
		{% with o.opponent.img_number|slugify as img_num %}
		{% with "sprites/pokemon/"|add:img_num|add:".png" as img_file %}
		{% if o.id != pokemon.id %}
		<tr>
			<td class="align-middle">
				<span style="white-space: nowrap; display: inline-block;">
					<a href="{% url 'format_pokemon' tier.generation tier.tier_name o.opponent.pokemon_unique_name %}">
						<img src="{% static img_file %}" style="height: 50px;">{{ o.opponent.pokemon_display_name }}</a>
						{% with o.opponent.types_of_pokemon.all as type %}
						{% include 'pokemon_type_block.html' %}
						{% endwith %}
				</span>
			</td>
			<td class="align-middle" style="text-align: center;">
				{{ o.winrate_used|stringformat:"05.2F" }}%
			</td>
		</tr>
		{% endif %}
		{% endwith %}
		{% endwith %}
		{% endfor %}
	</tbody>
</table>