{% load static %}

<table class="table table-striped w-auto" id="sortable3">
	<thead>
		<tr style="position: sticky; top: 0; z-index: 1; background: white;">
			<th style="cursor: auto;">Tera Type</th>
			<th onclick="sortTable(1,'3',true)" style="text-align: center; cursor: auto;">Winrate <i id="arrow31" class="fa-solid fa-sort-down"></i></th>
			<th onclick="sortTable(2,'3',true)" style="text-align: center; cursor: auto;">
				<span class="tooltipwrapper">
					<div class="tooltipnew">
						<i id="tera-frequency-help" class="fa-solid fa-circle-question"></i>
					</div>
					<span class="tooltiptext">
						How often {{ pokemon.pokemon_display_name }} has this tera type in games where it terrastalizes.<br>Only types with a frequency >5% or game_count > 100 are displayed.
					</span>
				</span>
				Type Frequency <i id="arrow32" class="fa-solid fa-sort"></i></th>
		</tr>
	</thead>
	<tbody>
		{% for t in tera_types %}
		<tr>
			<td class="align-middle">
				<div class="type-bubble" style="background: {{ t.tera_type.type_color }}">
					{{ t.tera_type.type_name }}
				</div>
			</td>
			<td class="align-middle" style="text-align: center;">{{ t.winrate|stringformat:"05.2F" }}%</td>
			<td class="align-middle" style="text-align: center;">{{ t.type_frequency|stringformat:"05.2F" }}%</td>
		</tr>
		{% endfor %}
	</tbody>
</table>