<!--users/templates/registration/login.html-->

{% extends 'base.html' %}

{% block content %}
<div class="container">
	<div class="row justify-content-center">
		<h2>Login</h2>
	</div>
	<div class="row justify-content-center">
		<div class="container" style="max-width: 280px;">
			<form method="post">
				<div class="row justify-content-center">
					{% csrf_token %}
					{{ form.as_p }}
				</div>
				<div class="row justify-content-center">
					<input type="submit" value="Login">
				</div>
			</form>
		</div>
	</div>

	<div>
		<a href="{% url 'dashboard' %}">Back to dashboard</a>
	</div>
	<div>
		<a href="{% url 'password_reset' %}">Reset password</a>		
	</div>
</div>

{% endblock %}