{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
    Hello, {{ user.username|default:'Guest' }}!
    {% if user.is_authenticated %}
        <div>
	        <a href="{% url 'logout' %}">Logout</a>
        </div>
        <div>
	        <a href="{% url 'password_change' %}">Change Password</a>
        </div>
        <div>
            <a href="{% url 'stats' %}">See Stats</a>
        </div>
        <div>
            <a href="{% url 'psusername' %}">Validate Showdown Username</a>
        </div>
        <div>
            <a href="{% url 'uploadgame' %}">Upload Replay</a>
        </div>

    {% else %}
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</div>
{% endblock %}