{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
	<h1 style="text-align: center;">
		Team Breakdown
	</h1>
	<div style="text-align: center;">
		Team Winrate: {{ winrate }}%
	</div>
	<div class="row justify-content-center">
		{% for mon in team %}
		{% with mon.img_number|slugify as img_num %}
		{% with "sprites/pokemon/"|add:img_num|add:".png" as img_file %}
		<img src="{% static img_file %}" style="max-height: 70px;">
		{% endwith %}
		{% endwith %}
		{% endfor %}
	</div>
	<div class="accordion">
	{% for mon in individual %}
		<div class="card">
			<button class="btn btn-link" id="card-button{{ mon.id }}"
					data-toggle="collapse" data-target="#collapse{{ mon.id }}" aria-expanded="false" aria-controls="collapse{{ mon.id }}"
					style="white-space: nowrap;"
					onclick="changeCaretDirection(this)">
				<div class="card-header d-flex" id="heading{{ mon.id }}" style="width: 100%;">
					<h5 class="mb-0">
						<strong>
							<div class="center-text">
								{{ mon.pokemon_display_name }}
							</div>	
						</strong>
					</h5>
					{% with mon.img_number|slugify as img_num %}
					{% with "sprites/pokemon/"|add:img_num|add:".png" as img_file %}
					<img src="{% static img_file %}" style="max-height: 70px;">
					{% endwith %}
					{% endwith %}
					<div class="container" style="color: black; text-decoration: none;">
						<div>
							Used Rate: {{ mon.frequency_used }}%
						</div>
						<div>
							Lead Rate: {{ mon.frequency_lead }}%
						</div>
						<div>
							Used Winrate: {{ mon.winrate_used }}%
						</div>
						<div>
							Lead Winrate: {{ mon.winrate_lead }}%
						</div>
					</div>
					<div>
						<i class="fa fa-caret-left" style="vertical-align: middle;"></i>						
					</div>
				</div>
			</button>
			<div id="collapse{{ mon.id }}" class="collapse" aria-labelledby="heading{{ mon.id }}">
				<div class="card-body">
					<div class="row justify-content-center">
						<div class="col-lg-6">
							<h3 style="text-align: center;">Moves</h3>
							<div class="table-responsive">
								<table>
									<thead class="thead-fix">
										<tr>
											<th>
												Move <i class="fa-solid fa-sort arrow"></i>
											</th>
											<th>
												Winrate <i class="fa-solid fa-sort arrow"></i>
											</th>
											<th>
												Move Frequency <i class="fa-solid fa-sort arrow"></i>
											</th>
										</tr>
									</thead>
									<tbody>
										{% for m in moves %}
										{% if m.pokemon == mon.id %}
										<tr>
											<td>
												{{ m.move_display_name }}
											</td>
											<td>
												{{ m.winrate }}
											</td>
											<td>
												{{ m.move_frequency }}
											</td>
										</tr>
										{% endif %}
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
						<div class="col-lg-6">
							<h3 style="text-align: center;">Opponents</h3>
							<div class="table-responsive">
								<table>
									<thead class="thead-fix">
										<tr>
											<th>
												Opponent <i class="fa-solid fa-sort arrow"></i>
											</th>
											<th>
												Used Winrate <i class="fa-solid fa-sort arrow"></i>
											</th>
											<th>
												Faceoff Frequency <i class="fa-solid fa-sort arrow"></i>
											</th>
											<th>
												Lead Winrate <i class="fa-solid fa-sort arrow"></i>
											</th>
											<th>
												Lead Faceoff Frequency <i class="fa-solid fa-sort arrow"></i>
											</th>
										</tr>
									</thead>
									<tbody>
										{% for o in opponents %}
										{% if o.team_mon == mon.id and o.faceoff_frequency > 0 %}
										<tr>
											<td>
												{{ o.pokemon_display_name }}
											</td>
											<td>
												{{ o.winrate_used }}
											</td>
											<td>
												{{ o.faceoff_frequency }}
											</td>
											<td>
												{{ o.winrate_lead }}
											</td>
											<td>
												{{ o.faceoff_frequency_lead }}
											</td>
										</tr>
										{% endif %}
										{% endfor %}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
	<div class="container">
		<div class="table-responsive">
			<table>
				<thead class="thead-fix">
					<tr>
						<th>
							Pokemon <i class="fa-solid fa-sort arrow"></i>
						</th>
						<th>
							Winrate Against <i class="fa-solid fa-sort arrow"></i>
						</th>
						<th>
							Winrate Against - Used <i class="fa-solid fa-sort arrow"></i>
						</th>
						<th>
							Winrate Against - Lead <i class="fa-solid fa-sort arrow"></i>
						</th>
						<th>
							Used Frequency <i class="fa-solid fa-sort arrow"></i>
						</th>
						<th>
							Lead Frequency <i class="fa-solid fa-sort arrow"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					{% for o in opponents_for_team %}
					<tr>
						<td>
							{{ o.pokemon_display_name }}
						</td>
						<td>
							{{ o.winrate_against }}
						</td>
						<td>
							{{ o.winrate_against_used }}
						</td>
						<td>
							{{ o.winrate_against_lead }}
						</td>
						<td>
							{{ o.frequency_used }}
						</td>
						<td>
							{{ o.frequency_lead }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div class="container">
		<div class="table-responsive">
			<table>
				<thead class="thead-fix">
					<tr>
						<th>
							Type <i class="fa-solid fa-sort arrow"></i>
						</th>
						<th>
							Winrate Against <i class="fa-solid fa-sort arrow"></i>
						</th>
						<th>
							Winrate Against When Used <i class="fa-solid fa-sort arrow"></i>
						</th>
					</tr>
				</thead>
				<tbody>
					{% for t in types %}
					<tr>
						<td>
							{{ t.type_name }}
						</td>
						<td>
							{{ t.winrate_against }}
						</td>
						<td>
							{{ t.winrate_against_used }}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<div>
		<div style="text-align: center;">
			Games
		</div>
		<form method="POST">
			{% csrf_token %}
			<div class="table-responsive" id="personal-game-list">
				<table>
					<thead class="thead-fix">
						<tr>
							<th>
								Opponent's Team
							</th>
							<th>
								Opponent
							</th>
							<th>
								Date
							</th>
							<th>
								Rating
							</th>
							<th>
								Link
							</th>
							<th>
								W/L
							</th>
							<th>
								Include?
							</th>
						</tr>
					</thead>
					<tbody>
						{% for obj in game_list %}
						{% with obj.game.players_in_game.all as players %}
						{% for opp in players %}
						{% if opp != obj %}
						<tr>
							<td>
								{% for mon in opp.pokemon_of_player.all %}
								{% with mon.pokemon.img_number|slugify as img_num %}
								{% with "sprites/pokemon/"|add:img_num|add:".png" as img_file %}
								<img src="{% static img_file %}" style="max-height: 70px;">
								{% endwith %}
								{% endwith %}
								{% endfor %}
							</td>
							<td>
								{{ opp.player.username }}
							</td>
							<td>
								{{ obj.game.start_time }}
							</td>
							<td>
								{% if obj.game.ranked %}
								{{ obj.game.rating }}
								{% else %}
								Unrated
								{% endif %}
							</td>
							<td>
								<a href="{{ obj.game.link }}" target="_blank">
									Replay
								</a>
							</td>
							<td>
								{% if obj.winner %}
									Win
								{% else %}
									Loss
								{% endif %}
							</td>
							<td>
								{% if not obj.game.ranked %}
								{% if obj.personal_include %}
								<input 	onChange="this.form.submit()" 
										type="checkbox" 
										name="include_game" 
										value="{{ obj.id }}" 
										id="include{{ obj.id }}" 
										checked>
								{% elif not obj.personal_include %}
								<input 	onChange="this.form.submit()" 
										type="checkbox" 
										name="include_game" 
										value="{{ obj.id }}" 
										id="include{{ obj.id }}">
								{% endif %}
								{% endif %}
							</td>
						</tr>
						{% endif %}
						{% endfor %}
						{% endwith %}
						{% endfor %}
					</tbody>
				</table>
			</div>
    		<input type="hidden" id="games" name="games" value="{{ request.games }}">
       		<input type="hidden" id="team" name="team" value="{{ request.team }}">
		</form>
	</div>
</div>
{% endblock %}