{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
	<div class="accordion">
	{% for t in tier_stats %}
		<div class="card">
			<div class="card-header" id="heading{{ t.id }}" style="display:inline-flex;">
				<h5 class="mb-0">
					<button class="btn btn-link" 
							data-toggle="collapse" data-target="#collapse{{ t.id }}" aria-expanded="false" aria-controls="collapse{{ t.id }}"
							style="white-space: nowrap;">
						<strong>{{ t.generation }} {{ t.tier_display_name }}</strong>
					</button>
				</h5>
				<div class="container">
					Overall Winrate: {{ t.winrate }}%
				</div>
			</div>
			<div id="collapse{{ t.id }}" class="collapse" aria-labelledby="heading{{ t.id }}">
				<div class="card-body">
					<div>
						<div class="table-responsive">
							<table>
								<thead class="thead-fix">
									<tr>
										<th>
											Pokemon <i class="fa-solid fa-sort arrow"></i>
										</th>
										<th>
											Appearance Rate <i class="fa-solid fa-sort arrow"></i>
										</th>
										<th>
											Winrate <i class="fa-solid fa-sort arrow"></i>
										</th>
										<th>
											Used Rate <i class="fa-solid fa-sort arrow"></i>
										</th>
										<th>
											Used Winrate <i class="fa-solid fa-sort arrow"></i>
										</th>
										<th>
											Lead Rate <i class="fa-solid fa-sort arrow"></i>
										</th>
										<th>
											Lead Winrate <i class="fa-solid fa-sort arrow"></i>
										</th>
									</tr>
								</thead>
								<tbody>
									{% for g in general %}
									{% if g.tier_id == t.id %}
									<tr>
										<td>
											{{ g.pokemon_display_name }}
										</td>
										<td>
											{{ g.appearance_rate }}
										</td>
										<td>
											{{ g.winrate }}
										</td>
										<td>
											{{ g.used_rate }}
										</td>
										<td>
											{{ g.winrate_used }}
										</td>
										<td>
											{{ g.lead_rate }}
										</td>
										<td>
											{{ g.winrate_lead }}
										</td>
									</tr>
									{% endif %}
									{% endfor %}
								</tbody>
							</table>
						</div>
						<div class="table-responsive">
							<table>
								<thead>
									<tr>
										<th>
											Team
										</th>
										<th>
											Winrate
										</th>
										<th>
											Games Played
										</th>
										<th>
											
										</th>
									</tr>
								</thead>
								<tbody>
									{% for key,value in results.items %}
									{% if key == t.id %}
									{% for team,stats in value.items %}
									<tr>
										<td>
										{% for p in team %}
										{% with p.img_number|slugify as img_num %}
										{% with "sprites/pokemon/"|add:img_num|add:".png" as img_file %}
											<img src="{% static img_file %}" style="max-height: 70px;" name="{{ p.pokemon_display_name }}">
										{% endwith %}
										{% endwith %}
										{% endfor %}
										</td>
										<td>
											{{ stats.Winrate }}%
										</td>
										<td>
											{{ stats.Played }}
										</td>
										<td>
											<form action="{% url 'breakdown' %}" method="post">
												{% csrf_token %}
												<input type="hidden" id="team" name="team" value="[{% for p in team %}{{ p.id }},{% endfor %}]">
												<input type="submit" name="breakdown" value="Team Breakdown">
											</form>
										</td>
									</tr>
									{% endfor %}
									{% endif %}
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	{% endfor %}
	</div>
</div>

{% endblock %}