{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">
	{% for key, value in results.items %}
	<div class="container" style="margin-bottom: 20px;">
	    <div class="row justify-content-center">
	        <h3>Gen {{ key.generation }} {{ key.tier_display_name }}</h3>
	    </div>
		{% for team,stats in value.items %}
	    <div class="row justify-content-start">
	        <div class="col-6">
	        {% for p in team %}
	            {% with p.img_number|slugify as img_num %}
	            {% with "sprites/pokemon/"|add:img_num|add:".png" as img_file %}
	                <img src="{% static img_file %}" style="max-height: 70px;">
	            {% endwith %}
	            {% endwith %}
	        {% endfor %}
	        </div>
	        <div class="col-2">
	        	Winrate: {{ stats.Winrate }}%
	        </div>
	        <div class="col-2" style="align-content: center;">
	            Game Count: {{ stats.Played }}
	        </div>
	        <div class="col-2">
	        	<form action="{% url 'breakdown' %}" method="post">
	        		{% csrf_token %}
	        		<input type="hidden" id="games" name="games" value="{{ stats.game_list }}">
	        		<input type="hidden" id="team" name="team" value="{{ stats.team_ids }}">
	        		<input type="submit" name="breakdown" value="Team Breakdown">
	        	</form>    	
	        </div>
	    </div>
	    {% endfor %}
	</div>
	{% endfor %}
</div>

{% endblock %}