{% load static %}
{% with pokemon.img_number|slugify as img_num %}
{% with "sprites/pokemon/"|add:img_num|add:".png" as img_file %}

<div class="container">
	<div class="row align-items-center">
		<div class="col-sm">
			<div class="row justify-content-center">
				{% if home_page %}
					<a href="{% url 'format_pokemon' tier.generation tier.tier_name pokemon.pokemon_unique_name %}">
						<h2>{{ pokemon.pokemon_display_name }}</h2>
					</a>
				{% else %}
					<h2>{{ pokemon.pokemon_display_name }}</h2>
				{% endif %}
			</div>
			<div class="row justify-content-center">
				<img src="{% static  img_file %}" style="height: 150px">				
			</div>
			<div class="row justify-content-center" style="height: 100px">
				{% with pokemon.types_of_pokemon.all as type %}
				{% include 'pokemon_type_block.html' %}
				{% endwith %}
			</div>
		</div>
		<div class="col-sm justify-content-center">
			<div class="row">
				{% include 'pokemon_stat_block.html' %}
			</div>
		</div>
	</div>
</div>

{% endwith %}
{% endwith %}