{% extends 'base.html' %}

{% block content %}

<div class="container">
	<h3 style="text-align: center;">Welcome to Abra Kadata!</h3>

	<p>The goal of Abra Kadata is to use game statistics to help both new and experienced players improve their play and teambuilding. Currently the website is in beta, which means I want to make the resource available to everyone but I still have quite a bit of work that I’d like to do. If you want to send feedback, feel free to email AbraKadataStats@gmail.com. I only ask that you keep in mind that this website is run by a team of just me so some changes and updates to the website may take time.</p>

	<p>I wanted to share a bit about myself and why I even made this website. I am a lifelong Pok&eacute;mon fan. I started playing competitive singles on and off in 2011 and got into VGC in 2022. When I started VGC, I wanted to dive in head first. The last game I had played that intensely was Hearthstone, where I appreciated the wealth of resources analyzing the competitive meta (in particular, Vicious Syndicate’s Data Reaper Report) and felt that competitive Pok&eacute;mon was lacking similar resources, so I decided to just go ahead and make it myself! Over time, this has grown into Abra Kadata as you see it now.</p>

	<p>Abra Kadata gets statistics directly from Pok&eacute;mon Showdown replays. This comes with a number of advantages and drawbacks. The first priority of Abra Kadata is to analyze the decisions made in actual battles to understand how frequently those decisions result in a victory. By pulling data directly from the replay logs we can also analyze those decisions in more detail over a large number of games. The other major advantage is that Abra Kadata can update daily.</p>

	<p>There are however two major disadvantages. The first is that the replay log does not provide full team information. It does not reveal information such as EVs or Nature, and it only allows me to record moves and items that were used during the battle (for example, if a Pok&eacute;mon holding a berry never eats it, I have no way to know what item it was holding). The second is a limitation in game availability. Although I can retrieve a large number of games, I am currently limited to publicly available replays. Because the vast majority of games played and replays saved are at lower ELO ratings, a lower ELO range is over-represented in the statistics and may not reflect patterns in the meta at a higher ELO. I have plans for how to address both of these issues in the future, but at the moment I want to be transparent about the state of available data.</p>

	<p>The last thing I wanted to note is that it’s important to remember the statistics are not gospel. Putting the six highest winrate Pok&eacute;mon on a team together will not necessarily lead to a competitively successful team. The Pok&eacute;mon with the highest winrate is not necessarily the "best" Pok&eacute;mon. Although statistics are meant to represent larger trends, the trends are still contextual.</p>

	<h3 style="text-align: center;">FAQ</h3>
	<p>Q: What are the future plans for Abra Kadata?<br>
	A: I have too many to list, but my top priority at the moment for new content is to create an application for users to have personalized statistics based on their own games.</p>

	<p>Q: Why should I pay attention to these stats if they only represent low ELO play?<br>
	A: As I said, this is a limitation and I would certainly like to change that. But, because ranked games are played between players of similar skill levels, we can choose to overlook skill as a factor in wins or losses. Certainly, some of this data will be affected by the level of play. However, over a large number of games, even disregarding skill level, what we end up seeing is how any individual Pok&eacute;mon affected the outcome of games in which it was played.</p>
	<div style="height: 50px;"></div>
</div>

{% endblock content %}

<!-- 	<p>Q: Why can’t I find my favorite Pok&eacute;mon?<br>
	A: In order to keep the amount of information displayed manageable, I attempt to limit the information displayed to common, relevant Pok&eacute;mon in the metagame. If I showed all Pok&eacute;mon that appeared in replays, most of them would represent extremely limited usage and would not reliably represent a significant trend. That being said, just because a Pok&eacute;mon isn’t being used as often doesn’t mean it’s bad, it just means we don’t have as much data. Currently, Pok&eacute;mon shown are those that have at least 5% usage in their respective format.</p> -->