{% extends 'base.html' %}

<style type="text/css">
	.collapsing {
		-webkit-transition: none;
		transition: none !important;
		display: none;
	}
</style>

{% block content %}
<div class="container">
	<h1 style="text-align: center;">Top Pok&eacute;mon</h1>
	<div class="row justify-content-center" style="margin-bottom: 10px;">
		<div class="btn-group btn-group-toggle" data-toggle="buttons" id="home-format-buttons">
			<label class="btn btn-primary active" style="width: 150px;" id="top-vgc-label" checked>
				<input type="radio" name="home-formats" id="top-vgc-button">
				Gen 9 VGC 2023 Series 2
			</label>
			<label class="btn btn-primary" style="width: 150px;" id="top-singles-label">
				<input type="radio" name="home-formats" id="top-singles-button">
				Gen 9 Overused
			</label>
		</div>
	</div>
	<div class="row justify-content-center">
		<div id="topVGC" style="width: 100%">
			<a href="{% url 'format_base' 9 'vgc2023series2' %}">
				<h3 style="text-align: center;">Gen 9 VGC 2023 Series 2</h3>				
			</a>
			{% with top_vgc.pokemon as pokemon %}
			{% with vgc_tier as tier %}
			{% include 'pokemon.html' %}
			{% endwith %}
			{% endwith %}
			<div class="row justify-content-center" style="margin-top:20px; margin-bottom: 50px;">
				<div class="col" style="width: 50%;">
					<div class="row justify-content-end">
						<strong>Appearance Rate: </strong>
					</div>
					<div class="row justify-content-end">
						<strong>Winrate: </strong>
					</div>
					<div class="row justify-content-end">
						<strong>Used Winrate: </strong>
					</div>
					<div class="row justify-content-end">
						<strong>Lead Winrate: </strong>
					</div>
					{% if vgc_tier.has_tera %}
					<div class="row justify-content-end">
						<strong>Tera Frequency: </strong>
					</div>
					{% endif %}
				</div>
				<div class="col" style="margin-left: 20px; width: 50%;">
					<div class="row justify-content-start">
						{{ top_vgc.appearance_rate|stringformat:"05.2F" }}%						
					</div>
					<div class="row justify-content-start">
						{{ top_vgc.winrate|stringformat:"05.2F" }}%						
					</div>
					<div class="row justify-content-start">
						{{ top_vgc.winrate_used|stringformat:"05.2F" }}%						
					</div>
					<div class="row justify-content-start">
						{{ top_vgc.winrate_lead|stringformat:"05.2F" }}%						
					</div>
					{% if vgc_tier.has_tera %}
					<div class="row justify-content-start">
						{{ top_vgc.tera_frequency|stringformat:"05.2F" }}%
					</div>
					{% endif %}
				</div>
			</div>
		</div>
		<div id="topSingles" class="collapse" style="width: 100%">
			<a href="{% url 'format_base' 9 'ou' %}">
				<h3 style="text-align: center;">Gen 9 Singles OU</h3>
			</a>
			{% with top_singles.pokemon as pokemon %}
			{% with singles_tier as tier %}
			{% include 'pokemon.html' %}
			{% endwith %}
			{% endwith %}
			<div class="row justify-content-center" style="margin-top:20px; margin-bottom: 50px;">
				<div class="col" style="width: 50%;">
					<div class="row justify-content-end">
						<strong>Appearance Rate: </strong>						
					</div>
					<div class="row justify-content-end">
						<strong>Winrate: </strong>
					</div>
					<div class="row justify-content-end">
						<strong>Used Winrate: </strong>
					</div>
					<div class="row justify-content-end">
						<strong>Lead Winrate: </strong>
					</div>
					{% if singles_tier.has_tera %}
					<div class="row justify-content-end">
						<strong>Tera Frequency: </strong>
					</div>
					{% endif %}
				</div>
				<div class="col" style="margin-left: 20px; width: 50%;">
					<div class="row justify-content-start">
						{{ top_singles.appearance_rate|stringformat:"05.2F" }}%						
					</div>
					<div class="row justify-content-start">
						{{ top_singles.winrate|stringformat:"05.2F" }}%						
					</div>
					<div class="row justify-content-start">
						{{ top_singles.winrate_used|stringformat:"05.2F" }}%						
					</div>
					<div class="row justify-content-start">
						{{ top_singles.winrate_lead|stringformat:"05.2F" }}%						
					</div>
					{% if singles_tier.has_tera %}
					<div class="row justify-content-start">
						{{ top_singles.tera_frequency|stringformat:"05.2F" }}%
					</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content %}